<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "org.chisa.asset.mapper.AseetFilterItemsMapper">


    <resultMap type="org.chisa.asset.domain.VechicleType" id="vechicleType">
        <id property="vechicleId" column="vechicle_id"/>
        <result property="vechicleName" column="vechicle_type_name"/>
        <result property="vechicleIcon" column="vechicle_icon"/>
    </resultMap>

    <resultMap type="org.chisa.asset.domain.StatusAll" id="status">
        <id property="statusId" column="status_id"/>
        <result property="statusType" column="status_type"/>
        <result property="statusName" column="status_name"/>
    </resultMap>

    <select id="getStatus" parameterType="org.chisa.asset.domain.Asset"  resultMap="status">
        SELECT status_id,status_type,status_name FROM all_status
    </select>
    <select id="getVechileTypes" resultMap="vechicleType">
        SELECT vechicle_id,vechicle_type_name FROM vechicle
    </select>
</mapper>
